body {
	background: #206999;
	width: 320px;
	height: 548px;
	font-family: arial, monospace;
	font-size: 12px;
    color: white;
}

h1 {
    background: #E5A907;
    text-align: center;
    position: static;
    color: #206999;
}

nav {
    font-family: arial , fantasy;
    font-weight: bold;
    font-size: 14px;
    background: #998b65;
    padding: 10px 0 10px 0;
    text-align: center;
    position: static;
    margin-bottom: 10px; 
}

ul {
    font-family: arial , monospace;
    background: #206999;
    list-style-type: none;
}

div {
    background: #998b65;
    font-family: inherit;
    padding: 5px;
}

form {
    background: #998b65;
    padding: 10px 10px 10px 10px;
}

legend {
    margin-left: 10px;
    font-family: arial , monospace;
    font-size: 16px;
    font-weight: bold;
}

fieldset {
    background: #206999;
}

input {
    background: #fffaee
}

a {
    color: white;
    font-weight: bolder;
    padding-right: 5px;
    text-align: center;
}